<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.biblio">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Biblio"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChoiceUserActivity" />
        <activity android:name=".activities.StudentAuthActivity" />
        <activity android:name=".activities.StudentHomeActivity" />
        <activity android:name=".activities.LibrarianLoginActivity" />
        <activity
            android:name=".activities.LibrarianHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddBookActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AvailableBooksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BorrowedBooksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BlacklistActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditBookActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentBorrowedBooksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentFavoriteBooksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentBorrowHistoryActivity"
            android:exported="false" />
    </application>

</manifest>